footer.footer_dark
    .bottom_footer.border-top-tran
        .container
            .row
                .col-md-6
                    p.mb-md-0.text-center.text-md-start &copy; 2023 All Rights Reserved.
                .col-md-6
                    ul.footer_payment.text-center.text-lg-end
                        li
                            a(href='#')
                                img(src='/images/visa.png' alt='visa')
                        li
                            a(href='#')
                                img(src='/images/discover.png' alt='discover')
                        li
                            a(href='#')
                                img(src='/images/master_card.png' alt='master_card')
                        li
                            a(href='#')
                                img(src='/images/paypal.png' alt='paypal')
                        li
                            a(href='#')
                                img(src='/images/amarican_express.png' alt='amarican_express')
